body{
  background-color: #333333;
  font-family: arial;
  color: white;
  display: flex;
  flex-direction: column;
}
header{
  text-align: center;
  background-color: #333333;
  border: 2px solid #ff7b00;
  border-radius: 20px;
}
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > a {
width: 250px;
transition: 1s ease;
background-color: #333333;
border-radius: 100px;
}
nav > a:hover{
  background-color: #ff7b00;
}
.photoprofil{
  position: fixed;
  right: 20px;
  bottom: 65%;
}
a{
  text-decoration: none;
  color: white;
}
.nomcontact{
  padding-bottom: 10px;
  padding-left: 20px;
}
.mailcontact{
  padding-bottom: 10px;
  padding-left: 10px;
}
.sectioncontact{
  text-align: center;
}
.choixgenre{
  padding-top: 10px;
}
.passionshobby{
  text-align: center;
  padding-bottom: 10px;
}
h3{
  text-decoration: underline;
  color: white;
  text-align: center;
}
.button{
  padding-top: 10px;
  padding-bottom: 10px;
}
.videopresentation{
  text-align: center;
  padding-bottom: 20px;
}
.photocv{
  border-radius: 10px;
  float: right;
  width: 125px;
  height: auto ;
}
h1{
color: white;
}
h2{
  color: white;
  text-decoration: underline grey;
}
select{

}
section{
  background-color: #333333;
  border: 2px solid #ff7b00;
  overflow: hidden;
  border-radius: 20px;
  padding-left: 10px;
}
footer{
  background-color: #333333;
  border: 2px solid #ff7b00;
  border-radius: 20px;
}
article{
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border: 2px solid #ff7b00;
  border-radius: 20px;
  padding-left: 10px;
}
table{
  width: 50%;
}
.tableau{
  background-color: #333333;
  border: 2px solid #ff7b00;
  overflow: hidden;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
tr:nth-child(even){
background-color:  #5e5e5e;
}
p{
}
nav{
  background-color: #333333;
  overflow: hidden;
  border: 2px solid #ff7b00;
  border-radius: 20px;
}
td{
  text-align: center;
  border: 2px solid grey;
}
aside{
  float: right;
  padding: 5px;
  border: 2px solid #ff7b00;
  border-radius: 20px;
  background-color: #333333;
  padding-bottom: 15px;
}

aside > p {
  padding: 5px 0;
  border-bottom: 2px solid #ff7b00;
  margin: 0;
}
@media only screen and (max-width: 1000px)
{
  aside{
    width: 98%;
    text-align: center;
  }
}
@media only screen and (max-width: 600px){
  .photocv{
    width: 100%;
    float: none;
  }
  .photoprofil{
    position: relative;
    right: 0px;
  }
  iframe{
    width: auto;
    height: auto;
  }
}
